[class*="custom-alert-"] {
    border-radius: 0;
    font-size: .9rem;
    color: var(--text-dark);
    border: groove var(--white);
}

.custom-alert-primary {
    background: linear-gradient(135deg, var(--pink-soft), var(--purple-soft));
}

.custom-alert-secondary {
    background: linear-gradient(135deg, #E5D9FF, #D6EEFF);
}

.custom-alert-success {
    background: linear-gradient(135deg, #DFF8E3, #E6F6FF);
}

.custom-alert-danger {
    background: linear-gradient(135deg, #FFD6D6, #FFA8A8);
}

.custom-alert-warning {
    background: linear-gradient(135deg, #FFF7C0, #FFE4E8);
}

.custom-alert-info {
    background: linear-gradient(135deg, #D7EEFF, #EAF6FF);
}

.custom-alert-dark {
    background: linear-gradient(135deg, #A0A0A0, #5A5A5A);
}

.custom-alert-light {
    background: linear-gradient(135deg, var(--white), var(--pink-soft));
    border: groove var(--border);
}
